a {
  text-decoration: none;
}
.container {
        max-width:1165px;
        margin: 0 auto;
    }

.header {
  margin-top: 50px;
  .logo {
    width: 152px;
    height: 115px;
    margin-right: 140px;
  }
  .header-menu {
    .header-menu-item {
      font-family: 'Proxima Nova Extrabold';
      font-size: 14px;
      color: #0078fb;

    }
  }

}
