.icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.3s opacity;
}
.icon.icon-user {
  width: 18px;
  height: 20px;
  background-image: url('../img/icons/user.png');
}
.icon.icon-counter {
  color: #0074fb;
  font-family: 'Proxima Nova Lt';
  font-style: normal;
  font-size: 18px;
  font-weight: 600;
  background-color: #f5f5f5;
  padding: 10px 13px;
  border-radius: 10px;
  line-height: 1;
}
.icon.icon-counter-active {
  color: #fff;
  font-family: 'Proxima Nova Lt';
  font-style: normal;
  font-size: 18px;
  font-weight: 600;
  background-color: #0074fb;
  padding: 10px 13px;
  border-radius: 10px;
  line-height: 1;
}
.icon.icon-counter-active .icon-msg {
  width: 18px;
  height: 15px;
  background-image: url('../img/icons/msg.png');
}
.icon.icon-fb {
  width: 18px;
  height: 18px;
  background-image: url('../img/icons/fb.png');
}
.icon.icon-vk {
  width: 25px;
  height: 14px;
  background-image: url('../img/icons/vk.png');
}
.icon.icon-inst {
  width: 16px;
  height: 16px;
  background-image: url('../img/icons/inst.png');
}
.icon.icon-message {
  width: 24px;
  height: 12px;
  background-image: url('../img/icons/message.png');
}
.icon.icon-send {
  width: 28px;
  height: 29px;
  background-image: url('../img/icons/send.png');
  background-position-x: right;
}
.fa-user {
  color: #c2c2c2;
}
.fa-comment {
  color: #fff;
}
.fa-smile {
  color: #c1c1c1;
  margin-left: -40px;
  z-index: 10;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Proxima Nova Lt' !important;
  font-size: 16px!important;
  font-weight: 300!important;
  font-style: normal;
}
a:hover {
  text-decoration: none!important;
  opacity: 0.5;
}
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=tel]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
  outline: none;
}
.container {
  max-width: 1165px!important;
  margin: 0 auto;
}
.title-1 {
  font-family: 'Proxima Nova Lt';
  font-size: 44px;
  font-weight: 300;
  font-style: normal;
  line-height: 1;
}
.title-2 {
  font-family: 'Proxima Nova Lt';
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  line-height: 1;
}
.title-3 {
  font-family: 'Proxima Nova Lt';
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  line-height: 1;
}
.title-4 {
  font-family: 'Proxima Nova Rg';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
}
.header {
  margin-top: 50px;
  margin-bottom: 75px;
}
.header .logo {
  width: 152px;
  height: 115px;
}
.header .header-menu .header-menu-item {
  font-family: 'Proxima Nova Extrabold';
  font-size: 14px;
  font-weight: 800;
  color: #0078fb;
}
.header .header-login {
  font-family: 'Proxima Nova Rg';
  font-size: 16px;
  margin-bottom: -13px;
  padding: 13px 20px;
  background-color: #f5f5f5;
  border-radius: 30px;
}
.nav-list {
  width: 215px;
  list-style: none;
}
.nav-list li + li {
  margin-top: 30px;
}
.nav-list li:hover {
  cursor: pointer;
  color: #0078fb;
}
.clearfix:after {
  display: table;
  content: " ";
  clear: both;
}
.main_slider {
  position: relative;
  overflow-x: hidden;
}
.main_slider .slick-track {
  display: flex;
  flex-wrap: wrap;
}
.main_slider .slick-dots {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.main_slider .slick-dots li {
  flex-grow: 1;
  list-style: none;
}
.main_slider .slick-dots li button {
  display: block;
  padding: 0;
  border: 0;
  text-indent: -999px;
  height: 1px;
  background: #f5f5f5;
  width: 100%;
  overflow: hidden;
}
.main_slider .slick-dots li.slick-active button {
  background: #0078fb;
}
.main_slider .main_slider-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  height: 370px;
  position: relative;
  outline: none;
}
.main_slider .main_slider-item .main_slider-description {
  position: absolute;
  height: 100%;
}
.right-block {
  height: 370px;
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 45px 60px!important;
}
.right-block button {
  font-family: 'Proxima Nova Lt';
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  padding: 20px 25px;
  border-radius: 50px;
}
.descr-block {
  margin-top: 85px;
  margin-bottom: 65px;
}
.descr-block .descr-block-item img {
  width: auto;
  height: 41px;
}
.descr-block .descr-block-item button {
  font-family: 'Proxima Nova Lt';
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  padding: 20px 25px;
  border-radius: 50px;
}
.content {
  min-height: 735px;
}
.content hr {
  margin: 0;
  height: 4px;
  background-color: #0078fb;
  border-radius: 40px 0 0 0;
}
.content .order-list-item + .order-list-item {
  margin-top: 15px;
}
.content .order-list-item_descr {
  background-color: #f5f5f5;
  padding: 20px 30px;
  border-radius: 0 0 5px 5px;
}
.content .order-list-item_descr a .messages {
  color: #000;
}
.content .order-list-item_descr .order-list-item_txt {
  color: #cfcfcf;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 30px;
  margin-left: -15px;
  line-height: 1;
}
.content .order-list-item_descr .fa-comment {
  color: #d9d9d9;
}
.content .order-list-item_descr .counter {
  color: #0074fb;
  font-family: 'Proxima Nova Lt';
  font-style: normal;
  font-size: 18px;
  font-weight: 600;
}
.js-toggle-target {
  overflow: unset!important;
}
.js-toggle-target a span {
  color: #cecece;
}
.js-toggle-target input {
  border: none;
}
.js-toggle-target .input-search {
  border-radius: 30px;
}
.js-toggle-target .input-search::placeholder {
  color: #cecece;
  font-family: 'Proxima Nova Lt';
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
}
.js-toggle-target .fa-search {
  color: #cecece;
  margin-left: -30px;
  z-index: 10;
}
.chat-wrapper {
  margin-top: -60px;
  margin-left: -15px;
}
.chat-wrapper .js-toggle-up {
  color: #cecece;
}
.chat-wrapper .js-toggle-up a:hover {
  color: #cecece;
}
.chat-wrapper .js-toggle-up a .fa-chevron-up {
  color: #cecece;
  margin-top: 15px;
}
.chat-wrapper .chat-list {
  height: 530px;
  margin: 25px 0;
}
.chat-wrapper .chat-list .chat-date {
  color: #cfcfcf;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 30px;
}
.chat-wrapper .chat-list label {
  color: #acacac;
}
.chat-wrapper .chat-list .performer-block .performer-avatar {
  background-color: #0078fb;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.chat-wrapper .chat-list .performer-block .performer-msg {
  background-color: #0078fb;
  color: #fff;
  padding: 15px 20px;
  border-radius: 30px;
}
.chat-wrapper .chat-list .self-block .self-msg {
  color: #000;
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 30px;
  margin-bottom: 15px;
}
.chat-wrapper .input-msg {
  padding: 25px;
}
.tabs .tab {
  color: #acacac;
}
.tabs .tab.active {
  color: #000;
  font-family: 'Proxima Nova Rg';
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
}
.tabs .tab + .tab {
  margin-left: 65px;
}
.tabs .tab-data {
  margin-top: 45px;
}
.tabs .tab-data input {
  margin-bottom: 45px;
  border: none;
  border-bottom: 1px solid #cecece;
  padding-bottom: 5px;
}
.tabs .tab-data input[disabled] {
  border: none;
  background: transparent;
}
.tabs .tab-data i {
  font-size: 30px;
  color: #0078fb;
}
.tabs .tab-data button {
  font-family: 'Proxima Nova Lt';
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  padding: 20px 35px;
  border-radius: 50px;
}
.tabs .tab-data .fa-toggle-off {
  color: #cecece;
}
.tabs .tab-data #password button {
  margin-top: 45px;
}
.footer {
  background-color: #f5f5f5;
  padding-bottom: 80px;
}
.footer form {
  margin-bottom: 60px;
}
.footer form label {
  font-family: 'Proxima Nova Rg';
  font-size: 16px;
  margin-top: 60px;
}
.footer form input {
  border-radius: 50px;
  padding: 20px 30px;
}
.footer form button {
  font-family: 'Proxima Nova Lt';
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  padding: 20px 25px;
  border-radius: 50px;
}
.footer ul {
  list-style: none;
}
.footer ul a {
  color: #000;
}
.footer ul li + li {
  margin-top: 25px;
}
.footer .socials {
  margin-top: 60px;
}
